<!DOCTYPE html>
<html>
<head>
  <title>New Work</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h2>JOB RECRUITMENTS</h2>

    <%= form_with model: @jobrecruitment, local: true, html: { multipart: true } do |f| %>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: "input" %>
      </div>

      <div class="field">
        <label for="status">status</label>
        <div class="stars">
          <input type="radio" id="star1" name="job_recruitment[status]" value="1">
          <label for="star1" style="color: yellow;">★</label>
          <input type="radio" id="star2" name="job_recruitment[status]" value="2">
          <label for="star2" style="color: yellow;">★</label>
          <input type="radio" id="star3" name="job_recruitment[status]" value="3">
          <label for="star3" style="color: yellow;">★</label>
          <input type="radio" id="star4" name="job_recruitment[status]" value="4">
          <label for="star4" style="color: yellow;">★</label>
          <input type="radio" id="star5" name="job_recruitment[status]" value="5">
          <label for="star5" style="color: yellow;">★</label>
        </div>
      </div>

      <div class="field">
        <%= f.label :location %><br />
        <%= f.text_field :location, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :datetime %><br />
        <%= f.text_field :datetime, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :endtime %><br />
        <%= f.text_field :endtime, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :image %><br />
        <%= f.file_field :image, class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "UPLOAD" %>
      </div>
    <% end %>
  </div>
</body>
</html>
