<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apply Now</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Apply Now</h1>

    <% if @jobrecruitment.present? %>
      <h2>description: <%= @jobrecruitment.description %></h2>
      <p>Posted on: <%= @jobrecruitment.created_at.strftime("%B %d, %Y") %></p>
      <p>Title: <%= @jobrecruitment.title %></p>
      <p>Location: <%= @jobrecruitment.location %></p>
    <% end %>

    <%= form_with url: apply_now_jobapplication_path(@jobrecruitment), method: :post, local: true do |f| %>
     
      <div class="field">
        <%= f.label :application_status %>
        <%= f.text_area :application_status %>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_area :location %>
      </div>
      <div class="actions">
        <%= f.submit "Submit Application" %>
      </div>
    <% end %>
  </div>
</body>
</html>
